<div class="container mt-3">
  <h1>Services index</h1>
  <% @services.each do |service|%>
  <tr>
    <td> <%= service.user_id %></td>
    <br>
    <td><%= link_to service.description, service_path(service.id) %></td>
    <br>
    <% if policy(service).edit? %>
      <td><%= link_to "Edit", edit_service_path(service) %></td>
    <% end %>
    <% if policy(service).destroy? %>
      <td><%= link_to "Destroy",  service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
    <br>
  <% end %>
  <br>
  <% if policy(Service).new? %>
    <%= link_to "Create a service", new_service_path %>
  <% end %>
  </div>

<!-- to use later, path to new request new_service_request_path(service.id) -->
