<div class="container">
  <h1>Services new</h1>
  <%= simple_form_for @service do |f| %>
    <%= f.input :description, label: 'Please describe the service', error: 'Username is mandatory, please specify one' %>
    <%= f.input :price, hint: 'Price in £' %>
    <%= f.input :available, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.button :submit %>
  <% end %>
</div>
