<div class="container mt-3">
  <h1>Services show</h1>

  <%= @service.description  %> <br>
  <%= @service.price  %> <br>
  <%= @service.available %> <br>
  <%= @service.user.id %> <br>
  <% if current_user == @service.user %>
    <%= link_to "Edit", edit_service_path(params[:id]) %>
    <%= link_to 'Delete', @service, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>
