<div class="container mt-3">
  <h1>Services show</h1>

  <%= @service.description  %> <br>
  <%= @service.price  %> <br>
  <%= @service.available %> <br>
  <%= @service.user.id %> <br>

  <%= link_to "edit", edit_service_path(params[:id]) %>
  <%= link_to 'delete',
    { controller: "services", action: "destroy", id: @service.id },
    data: { confirm: 'Are you sure?' },
    method: :delete %>
</div>
