<div class="container mt-3">
  <h1>Services show</h1>

  <%= @service.description  %> <br>
  <%= @service.price %> <br>
  <% if policy(@service).edit? %>
    <td><%= link_to "Edit", edit_service_path(@service) %></td>
  <% end %>
  <% if policy(@service).destroy? %>
    <td><%= link_to "Destroy",  @service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% else %>
    <%= link_to "Book this service", new_service_request_path(@service.id) %>
  <% end %>
</div>
